{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %}{% endblock styles %}
    <link href="https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@800,500,700,400,900&display=swap" rel="stylesheet">
</head>

<body>

    <header class="nav-head">
        <!-- Site logo -->
        <div class="nav-logo">
            <a href="/">
                <img src="{% static 'images/deevr 2.png' %}" class="site-logo">
            </a>
        </div>



        {% block nav %}
        <!-- Menu -->

        {% endblock %}

        <!-- nav buttons -->
        <div class="nav-button">
            {% if user.is_authenticated %}
            <button class="nav-btn-solid">
                <a href="/logout">Sign Out</a>
            </button>
            {% else %}
            <button class="nav-btn-outline">
                <a href="/login">Login</a>
            </button>

            <button class="nav-btn-solid">
                <a href="/signup">Get Started</a>
            </button>
            {% endif %}
        </div>

    </header>
    <!-- ========================================================================= -->
    <!--============================= MOBILE NAVIGATION=========================== -->
    <header class="header-sm">
        <div class="nav-logo-sm">
            <a href="/">
                <img src="{% static 'images/deevr 2.png' %}" class="site-logo">
            </a>
        </div>

        <nav class="sm-navigation">
            <div class="sm-hamburger">
                <a href="/">
                    <img src="{% static 'images/logo-mobile.svg' %}">
                </a>

                <img src="{% static 'images/close-circle.svg' %}" alt="" class="hamburger-close">
            </div>
      
          
            <div class="sm-nav-links">


                {% block mobilenav %}
                
                
                {% endblock %}


                {% if not user.is_authenticated %}
                <!-- nav buttons -->
                <div class="sm-nav-button">

                 
                    <button class="nav-btn-outline">
                        <a href="/login">Login</a>
                    </button>

                    <button class="nav-btn-solid">
                        <a href="/signup">Get Started</a>
                    </button>
                
                </div>
                {% endif %}
            </div>


            {% if user.is_authenticated %}

            <div class="media">
                {% if user.profile.profile_pic %}
                <img  src="{{ user.profile.profile_pic.url }}" height="80" width="80" style="border-radius: 100%;"/>
                {% else %}
                <img src="{% static 'metadata/images/default.jpg'%}" height="80" width="80" style="border-radius: 100%; border:1px solid gray;"/>
                {% endif %}
                <div class="sign-out">
                    <img src="/static/images/logout.svg" alt="">
                    <a href="/logout">Sign Out</a>
                </div>
            </div>
            {% endif %}
        </nav>
        <div class="hamburger">
            <img src="{% static 'images/menu.svg' %}" alt="" class="hambuger-menu">
        </div>
    </header>

    <!-- ================================================================================== -->

    {% block content %}

    {% endblock %}




    <!-- Footer -->

    <footer>

        <div class="footer">

            <div class="footer1">

                <div class="footer1-top">
                    <a href="/">
                        <img src="{% static 'images/deevr 2.png' %}" alt="" class="footer-img">
                    </a>
                    <p class="footer-txt">Subscribe to keep up with the
                        latest news</p>
                </div>

                <div class="footer1-down">
                    <h2 class="footer-title">GET IN TOUCH</h2>

                    <div class="social-icons">
                        <img src="{% static 'images/Facebook.png' %}" alt="" class="social">
                        <img src="{% static 'images/Twitter.png' %}" alt="" class="social">
                        <img src="{% static 'images/Linkedin.png' %}" alt="" class="social">
                    </div>
                </div>

            </div>

            <div class="footer2">

                <h2 class="footer-title">Learn</h2>

                <nav class="footer-nav">
                    <a href="#">Our Product</a>
                    <a href="#">Tutorials</a>
                    <a href="#">Our Services</a>
                    <a href="#">Best Features</a>
                </nav>

            </div>

            <div class="footer3">

                <h2 class="footer-title">Company</h2>

                <nav class="footer-nav">
                    <a href="/about">About Us</a>
                    <a href="/contact">Contact Us</a>
                    <a href="/dashboard">Dashboard</a>
                    <a href="/viewMetadata">Extract Metadata</a>
                </nav>

            </div>

            <div class="footer4">

            </div>

        </div>

    </footer>


    <script src="{% static 'javascript/navBar.js' %}"></script>

    {% block jsScript %} {% endblock %}

</body>

</html>