<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MetaData Extractor | Get detailed information on your files</title>
</head>
<body>
    <header>
        <nav>
            <li>Home</li>
            <li>Login</li>
            <li>Sign Up</li>
            <li>Profile</li>
        </nav>
    </header>

    {% block content %} {% endblock %}
</body>
</html>