<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>MetaData Extractor | Get detailed information on your files</title>
	<link rel="stylesheet" href="../../static/css/main.css" />
	<link rel="stylesheet" href="../../static/css/font.css">
	<link rel="stylesheet" href="../../static/css/login.css">
	<link href="https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@800,500,700,400,900&display=swap" rel="stylesheet">
</head>

<body>
	<section class="autentication-form">
		<div class="left-column" id="login-left">
			<img src="../../static/images/login-bg.png" alt="" />
		</div>
		<div class="right-column">
			<div class="form-header">
				<h1>Login</h1>

				<a href="/accounts/google/login/?process=login">
					<img src="../../static/images/google.png" alt="" class="google" />
					Sign in with Google
				</a>
				<a href="/accounts/github/login/?process=login">
					<img src="../../static/images/github.png" alt="" class="fb" />
					Sign in with Github
				</a>
			</div>
			<form action="login" method="post">
				{% csrf_token %}
				<div>
					<label for="username" class="field-label">Username</label>
					<input type="text" name="username" placeholder="username" />
				</div>
				<div class="form-field">
					<label for="password" class="field-label">Password</label>
					<input type="password" name="password" placeholder="Password" id="psw" />
					<span class="eye" onclick="myFunction()">
						<img src="../../static/images/eye.png" alt="" class="psw-icon" id="hide"/>
						<img src="../../static/images/eye-slash.png" alt="" class="psw-icon"  />
					</span>
				</div>

				<p class="login-password"><a href="#"> Forgot Password</a></p>
				
				<input type="submit" value="Login" />
				<input type="hidden" name="next" value="{{ next }}" />
			</form>

			<div>
				<p class="login-text">Don't have an account? <a href="signup"> Create Account</a></p>
			</div>
		</div>
	</section>
</body>

</html>