{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="../../static/css/about.css">
{% endblock %}


{% block nav %}

<div class="navigation" style="display: block;">
    <nav class="menu" style="display: block;">
        <a href="/">Home</a>
        <a href="/about" class="active">About Us</a>
        {% if user.is_authenticated %}
        <a href="/viewMetadata">Extract Metadata</a>
        <a href="/dashboard">Dashboard</a>
        {% endif %}
    </nav>
</div>



{% endblock %}


{% block content %} 

<div class="file-content">
    {% for i in history %}

    {% if i.owner == user%}
    <p>{{ i.created_at }}</p>
    <p>{{ i.name }} </p>
    <div class="img">
        <img id="eye" src="../../static/images/eye.svg" alt="" data-id="btn-{{i.id}}">
        <div class="hide-download-btn" id="btn-{{i.id}}">
            <a href="{{i.uploaded_file.url}}" download="{{i.uploaded_file.url}}">Download</a>
            <a href="delete/{{i.id}}">Delete Metadata</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>


{% endblock %}