{% extends "base.html" %} 

{% block styles %}
<link rel="stylesheet" href="../../static/css/profile.css" />
{% endblock %}

{% block nav %}

<div class="navigation">
    <nav class="menu">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/viewMetadata">Extract Metadata</a>
        <a href="/dashboard" class="active">Dashboard</a>
    </nav>
</div>

{% endblock %}


{% block content %}


<div class="profile-wrapper">

<h2>Saved metadata </h2>
<table>
    <thead>
        <th>Date</th>
        <th>Filename</th>
    </thead>

{% for i in history %}
<tr></tr>
{% if i.owner == user%}
<td>{{ i.created_at }}</td>
<td>{{ i.name }} </td>
<td><a href="{% url 'metadata:review' i.id %}">View</a></td>
{% endif %}
</tr>
{% endfor %}

</table>

</div>
{% endblock %}