<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>MetaData Extractor | Get detailed information on your files</title>
	<link rel="stylesheet" href="../../static/css/main.css" />
	<link rel="stylesheet" href="../../static/css/font.css">
	<link rel="stylesheet" href="../../static/css/login.css">
	<link href="https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@800,500,700,400,900&display=swap" rel="stylesheet">
	
</head>
<html>
<body>
	<section class="autentication-form" >

		<div class="left-column" id="signup-left-column">
			<img src="static/images/signup-bg.png" alt="" />
		</div>

		<div class="right-column" id="signup-right-column">
										
			<div class="form-header">
				<h1>Sign Up</h1>

				<a href="/accounts/google/login/?process=login">
					<img src="static/images/google.png" alt="" class="google" />
					Sign in with Google
				</a>
				<a href="/accounts/github/login/?process=login">
					<img src="static/images/github.png" alt="" class="fb" />
					Sign in with Github
				</a>
			</div>

			<form action="signup" method="post">
				{% csrf_token %}
				<div class="form-field">
					<label for="username" class="field-label">Username</label>
					<input type="text" name="username" placeholder="UserName" required />
				</div>
				<div class="form-field">
					<label for="username" class="field-label">First Name</label>
					<input type="text" name="first_name" placeholder="First Name" required />
				</div>
				<div class="form-field">
					<label for="username" class="field-label">Last Name</label>
					<input type="text" name="last_name" placeholder="Last Name" required />
				</div>
				<div class="form-field">
					<label for="email" class="field-label">Email Address</label>
					<input type="text" name="email" placeholder="Email Address" required />
				</div>
				<div class="form-field">
					<label for="password" class="field-label">Password</label>
					<input type="password" name="password" placeholder="Password" id="psw" required />
					<span class="eye">
						<img src="../../static/images/eye.png" alt="" class="psw-icon" id="hide" />
						<img src="../../static/images/eye-slash.png" alt="" class="psw-icon" />
					</span>
				</div>
				<div class="form-field">
					<label for="password" class="field-label">Confirm Password</label>
					<input type="password" name="pass2" placeholder="Password" id="psw" required />
					<span class="eye">
						<img src="../../static/images/eye.png" alt="" class="psw-icon" id="hide" />
						<img src="../../static/images/eye-slash.png" alt="" class="psw-icon" />
					</span>
				</div>

				<p class="login-password"><a href="#"> Forgot Password</a></p>

				<input type="submit" value="Create Account"/>
				<input type="hidden" name="next" value="{{ next }}" />
			</form>

			<div>
				<p class="login-text">Alerady Have an account? <a href="/login"> Login</a></p>
			</div>
							
		</div>
	</section>

</body>

</html>

<!-- ========================================================================== -->