    
    {% extends "base.html" %}
    {% load static %}

    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/extract.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    {% endblock %}
    
    {% block nav %}
    
    <div class="navigation">
        <nav class="menu">
            <a href="/">Home</a>
            <a href="/about">About Us</a>
            <a href="/viewMetadata">Extract Metadata</a>
            <a href="/dashboard" class="active">Dashboard</a>
        </nav>
    </div>
    
    {% endblock %}
    
    {% block mobilenav %}
    
    <ul class="sm-menu">
        <li>
            <img src="/static/images/home-2.svg" alt="">
            <a href="/">Home</a>
            <img id="arrow" src="/static/images/arrow-right-light.svg" alt="">
        </li>
    
        {% if user.is_authenticated %}
        <li>
            <img src="/static/images/data.svg" alt="">
            <a href="/viewMetadata" class="active">Extract Metadata</a>
            <img id="arrow" src="/static/images/arrow-right-light.svg" alt="">
        </li>
        <li class="sm-active">
            <img src="/static/images/user-dark.png" alt="">
            <a href="/dashboard">Dashboard</a>
            <img id="arrow" class="dashboard-arrow" src="/static/images/arrow-right.svg" alt="">
        </li>
        <ul class="sm-profile-link-wrapper">
    
            <li class="sm-profile-link sm-link-active">
                <img src="../../static/images/user-dark.png" alt="">
                <a href="/dashboard">Account</a>
            </li>
            <li class="sm-profile-link">
                <img src="../../static/images/data-black.svg" alt="">
                <a href="{% url 'metadata:history' user.id %}">Saved Metadata</a>
            </li>
            <li class="sm-profile-link">
                <img src="../../static/images/archive-tick.svg" alt="">
                <a href="{% url 'metadata:saved_files' %}">Saved Files</a>
            </li>
        </ul>
        {% endif %}
        <li>
            <img src="/static/images/people.svg" alt="">
            <a href="/about">About Us</a>
            <img id="arrow" src="/static/images/arrow-right-light.svg" alt="">
        </li>
    </ul>
    
    {% endblock %}
    
    {% block title %}Profile Page{% endblock%}
    {% block content %}
    
    <div class="profile-wrapper">
        <div class="content-section">
            <div class="media">
                {% if user.profile.profile_pic %}
                <img class="rounded-circle account-img" src="{{ user.profile.profile_pic.url }}" width="200" height="200" />
                {% else %}
                <img class="rounded-circle account-img" src="{% static 'metadata/images/default.jpg'%}" width="200"
                    height="200" />
                {% endif %}
            </div>
            <a class="profile-edit" href="/update_picture">Edit Profile Picture</a>
    
            <div class="profile-link link-active">
                <img src="../../static/images/user-dark.png" alt="">
                <a href="/dashboard">Account</a>
            </div>
            <div class="profile-link">
                <img src="../../static/images/data.svg" alt="">
                <a href="{% url 'metadata:history' user.id %}">Saved Metadata</a>
            </div>
            <div class="profile-link">
                <img src="../../static/images/archive-tick.svg" alt="">
                <a href="{% url 'metadata:saved_files' %}">Saved Files</a>
            </div>
        </div>
    
    
    
        <div class="form-wrapper">
            <div class="head">
                <h1>Change Profile Picture</h1>
                {% for message in messages %}
                <h4>{{message}}</h4>
                {% endfor %}
            </div>
            <div class="form extract">
                <div class="up">
                    <img src="/static/images/document-upload.svg" class="img-svg upload">
                    <img src="/static/images/document-cloud.svg" alt="" class="cloud hide-upload">
                    <p class="upload-text file-name"></p>
                </div>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="id_profile_pic" class="down" id="file-label">
                        <img src="static/images/cloud-plus.svg" class="img-svg">
                        <p><label for="id_profile_pic" class="upload-txt">Choose a File</label></p>
                        <div class="extract-input">
                            {{form}}
                        </div>
                    </label>

                    <div class="btn-wrapper">

                        <button type="submit" class="metadata-btn hide-upload" id="metadata-btn">
                            <span>Change Picture</span>
                            <img src="{% static 'images/bx_analyse.svg' %}" alt="">
                        </button>
                    </div>


                </form>
            </div>
        </div>
    </div>
    
    
    
    {% endblock %}
    {% block jsScript %}
    <script src="/static/javascript/updateProfile.js">

    </script>
    {% endblock %}
    
   