{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>MetaData Extractor | Get detailed information on your files</title>
	<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	<link rel="stylesheet" href="{% static 'css/font.css' %}">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<link href="https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@800,500,700,400,900&display=swap" rel="stylesheet">

</head>

<body>
  <section class="autentication-form">
		<div class="left-column" id="login-left">
			<img src="{% static 'images/login-bg.png' %}" alt="" />
		</div>
		<div class="right-column">
			<div class="form-header">
                <h1>{% block title %}Password reset{% endblock %}</h1>
        {% block content %}
<h3>You asked for password reset for email {{ email }}. 
Follow the linkbelow:
{{ protocol }}://{{ domain }}{% url "metadata:password_reset_confirm" uidb64=uid token=token %} 
Your username, in case you've forgotten: {{ user.get_username }}
</h3>

		{% endblock %}
</body>