{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'notification.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Password reset successful</title>

	<link href="https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@800,500,700,400,900&display=swap" rel="stylesheet">

</head>

<body>
  <section class="autentication-form">
		
		<div class="right-column">
			<div class="form-header">
        {% block content %}
<div class="godfather">
            <img src="{% static 'images/Frame 1041 (1).png' %}" class="bad">
            <div class="text" >
                <h2>Password Reset Successful</h2>
                <h5>Your Password has been reset successfully</h5>
            </div>
                <img src="{% static 'images/Icon (1).png' %}" class="ticker-body">
        </div>
        <div class="go-home">
            <button class="blues">
                <a href="{% url 'metadata:index' %}">Go Home</a>
            </button>
        </div>
{% endblock %}
</body>