@import url("style.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cabinet Grotesk', sans-serif;
}

h1 {
    text-align: center;
    padding-top: 80px;
    font-size:xx-large ;
    font-family: 'CabinetGrotesk-Bold';
    font-weight: bolder;
}
p{
    padding-left: 150px;
    padding-right: 120px;
    text-align: center;
    font-size: larger;
    font-weight: 200;
}
h2{
    text-align: center;
    padding-top: 80px;
    font-size:xx-large ;
    font-family: 'CabinetGrotesk-Bold';
    font-weight: bolder;
    padding-bottom: 35px;
}


#parent { 
    min-height: 100vh;
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.child {
    background-color: white;
    padding: 10px;
    height: 250px;
    width: 200px;
    display: grid;
    padding-left: 70px;
    padding-right: 10px;
}
.child img{
    width: 50px;
    height: 50px;
    border: 1px;
    
}
.child img:hover{
    background-color: dodgerblue;
    color: white;
}
.child .namefocus{
    display: grid;
    font-size: small;
    font-style: normal;
}