@import url("style.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cabinet Grotesk', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 800;
}

.top-about {
    text-align: center;
    margin: 0 auto;
    width: 1140px;
    padding: 0 68px;
}

.head-about {
    text-align: center;
    padding-top: 100px;
    font-size: 60px;
}

.txt-about{
    font-size: 18px;
    line-height: 1.2em;
}

.subhead-about{
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
    padding-bottom: 35px;
}


#parent { 
    min-height: 100vh;
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.child {
    background-color: white;
    padding: 10px;
    height: 250px;
    width: 200px;
    display: grid;
    padding-left: 70px;
    padding-right: 10px;
}
.child img{
    width: 160px;
    height: 160px;
    border: 1px;
    border-radius: 16px;
    
}
.child img:hover{
    background-color: dodgerblue;
    color: white;
}
.child .namefocus{
    display: grid;
    font-size: small;
    font-style: normal;
}