@import url("style.css");

.extract {
    border: 2px dashed var(--blue);
    border-radius: 20px;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.file-options{
    display: flex;
}

.headline{
    text-align: center;
    font-size: 40px;
}

.formats{
    display: flex;
    width: 1240px;
    height: auto;
    margin: 0 auto;
    padding: 0 auto;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    padding: 20px 40px;
}

.card{
    background-color: var(--white);
    width: 33%;
}










footer{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.right{
    border-color: #3a86ff;
    border-style: dashed;
    border-width: 2px;
    float: right;
}
.left{
    padding-top: 20px;
}