@import url("font.css");
@import url('fonts/cabinetgrotesk-bold.woff2');

/* Global styling */
:root {
    --blue: #3a86ff;
    --white: #ffffff;
    --black: #000000;
    --grey: #D3D1D2;
}

body {
    font-family: 'CabinetGrotesk-Bold';
}

a {
    text-decoration: none;
}

button {
    padding: 18px 35px;
    background-color: var(--blue);
    border: 0;
    border-radius: 5px;
    color: var(--white);
}

/* 
    Home Page Code

    Whoever keeps changing this code, do not change. Work on forms in form.css
*/

/* Nav */

header {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    padding: 20px 40px;
}

.site-logo {
    width: 100px;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    padding: 20px 40px;
}

.left-hero, .right-hero {
    width: 50%;
}

.hero-img {
    width: 600px;
}

.hero-head {
    font-size: 70px;
}

.hero-text {
    font-size: 25px;
    line-height: 1.3em;
    padding-right: 70px;
}


/* Error 404 page styling here */
/* Error 404 page styling here */

/* body{
    margin: 0 10px;
} */

/* Navigation stylinng below: */
header{
    display: flex;
}
header div img{
    width: 70px;
    height: 70px;
    margin-right: 230px;
}
.nav-items{
    margin-right: 30px;
    padding-top: 20px;
    font-size: 18px;
}
header div button{
    padding: 8px 30px;
}
.first-button{
    margin-left: 250px;
    padding-top: 22px;
    font-size: 18px;
}
#first-button{
    background: white;
    border-color: rgb(13, 112, 226);
    border-radius: 5px;
    color: rgb(13, 112, 226);
    font-size: 18px;
}
.second-button{
    padding-top: 22px;
    margin-left: 10px;
}
#second-button{
    background: rgb(13, 112, 226);
    border-color: rgb(13, 112, 226);
    color: white;
    border-radius: 5px;
}

/* main section styling below: */

main{
    display: flex;
    margin-top: 60px;
}
main div img{
    width: 600px;
    height: 500px;
}
#right-side{
    margin: 100px 0 0 80px;
}
h2{
    margin-bottom: 8px;
}
#right-side div p{
    margin-bottom: 50px;
    font-size: 18px;
}
.main-button{
    background: rgb(13, 112, 226);
    border-color: rgb(13, 112, 226);
    color: white;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 20px;
}
