@import url("../css/style.css");

input {
    outline: none;
}


.content-section {
    display: none;
}

.content-section-sm {
    position: fixed;
    top: 55px;
    height: 80vh;
    width: 86px;
    background-color: var(--grey);
    text-align: center;
    z-index: 1;
    padding-top: 10px;
    transform: translateX(-100%);
    transition: 0.5s ease-out;

}

.hide-sm-hamburger {
    transform: translateX(-100%);
    transition: 0.5s ease-out;
}

.show-content-section {
    transform: translateX(0);
    transition: 0.6s ease-in;
}


#account-img {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    height: 60px;
    width: 60px;
    /* margin-top: 34px;
    margin-bottom: 8px; */

}

#sm-hamburger-close {
    height: 18px;
    width: 18px;
    cursor: pointer;
}


#sm-hamburger {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: var(--blue);
    width: 150px;
    padding: 10px 20px;
    margin-left: 25px;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    transition: 0.5s ease-in-out;
    cursor: pointer;

}

#sm-hamburger img {
    height: 17px;
    width: 17px;
    margin-right: 15px;
}

.sm-profile-edit {
    margin-top: 8px;
    font-size: 1.2rem;
    line-height: 1.2rem;
}



.sm-profile-link {
    /* margin-top: 48px; */
}

.sm-link-active {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8px;
    background-color: var(--grey);
    border-left: 10px solid var(--blue);
    font-weight: 800;
}

.sm-link-active img {
    margin-left: 15px;
}

.sm-content-section #sm-hambuger-close {
    height: 5px;
    width: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.form-wrapper {
    padding: 25px;
}


.form h2 {
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-weight: 800;
    margin: 24px 0;
}

.form label {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #818181;
}

.form input {
    margin-top: 5px;
    margin-bottom: 16px;
    padding: 15px 30px;
    width: 100%;
    border: 1.9px solid #D3D1D2;
    border-radius: 10px;
}

.form .submit {
    background-color: var(--blue);
    color: white;
    font-size: 1.5rem;
    line-height: 2.8rem;
    cursor: pointer;
}


.head h1 {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 3.6rem;
    margin-bottom: 34px;
}

.head h3 {
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 2.6rem;
}

.head h4 {
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin: 5px 0;
    font-weight: 400;
}

.head a {
    display: inline;
    width: 130px;
    color: var(--blue);
    font-size: 1.6rem;
    line-height: 3rem;

}


.sign-up-model {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.95;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    display: none;
    z-index: 5000;
}

.show-model {
    display: flex;
}

.sign-up-wrapper {
    background-color: white;
    text-align: center;
    padding: 40px 36.5px;
    margin-top: 200px;
    border-radius: 10px;
    position: relative;
    z-index: 1000;
    cursor: pointer;
}

.sign-up-wrapper::before {
    content: "";
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 10px;
}

.sign-up-wrapper img {
    position: absolute;
    top: 15px;
    right: 10px;
}

.sign-up-wrapper h5 {
    font-size: 2.4rem;
    line-height: 2.7rem;
    margin-bottom: 8px;
}

.sign-up-wrapper p {
    font-size: 1.7rem;
    line-height: 2.4rem;
    margin-bottom: 24px;
}

.signout-model-btn {
    display: flex;
    align-items: center;
}

.signout-model-btn a {
    display: inline-block;
    height: 44px;
    width: 133.5px;
    border: 1px solid var(--blue);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 1.8rem;
    border-radius: 5px;
    color: var(--blue);
}

.signout-model-btn a:last-child {
    margin-right: 0;
    background-color: var(--blue);
    color: white;
}


.url-model{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #CEEBCD;
    width: 250px;
    padding: 15px 15px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
    display: none;
}

.url-model img{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.url-model .model-txt{
    display: flex;
    align-items: center;
}

.url-model .model-txt h5{
    font-size: 1.3rem;
}

.url-model .model-txt img{
    margin-right: 10px;
}

.url-model .model-txt p{
    font-size: 1.3rem;
}


#input{
    position: absolute;
    right: -100%;
}

@media screen and (min-width:768px) {
    #sm-hamburger {
        display: none;
    }

    .profile-wrapper {
        display: flex;
        margin-left: 2px;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    .head h1 {
        font-size: 4.4rem;
        line-height: 6.6rem;
    }

    .content-section {
        min-height: 90vh;
        background-color: var(--grey);
        width: 277px;
        padding-top: 20px;
        margin-right: 20px;
        display: block;
        position: relative;
    }

    .content-section-sm {
        display: none;
    }

    .profile-sign-out {
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        bottom: 0;
        padding-left: 55px;
        display: flex;
        align-items: center;
    }





    .content-section .media img {
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
        height: 139.75px;
        width: 139.75px;
        margin-top: 34px;

    }


    .media {
        padding-left: 55px;
    }


    .content-section a {
        display: block;
        font-size: 2rem;
        line-height: 3.6rem;
        margin-left: 8px;
        color: black;
    }

    .profile-sign-out input {
        color: #E10909;
        background-color: var(--grey);
        outline: none;
        border: none;
        font-size: 2rem;
        font-weight: 100;
        cursor: pointer;

    }

    .profile-edit {
        margin-bottom: 88px;
        margin-top: 18px;
        padding-left: 55px;
    }

    .profile-link {
        display: flex;
        align-items: center;
        margin-bottom: 29px;
        padding-left: 55px;


    }

    .profile-link img {
        height: 26px;
        width: 26px;
    }


    .link-active {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 41px;
        background-color: white;
        border-left: 14px solid var(--blue);
    }

    .link-active a {
        font-weight: 800;
    }

    .active a {
        font-weight: 800;
    }


}


@media screen and (min-width:1024px) {

    .data-underline {
        display: none;
    }


    .profile-wrapper {
        display: flex;
        margin-top: 0;
        /* margin-left: 2px; */
    }


    .content-section {
        min-height: 100vh;
        background-color: var(--grey);
        width: 277px;
        padding-top: 20px;
        margin-right: 130px;
        display: block;
    }

    .content-section-sm {
        display: none;
    }



    .form-wrapper {
        width: 50%;
    }

    .head {
        margin-bottom: 32px;
    }

    .head h1 {
        /* font-size: 6.4rem;
        font-weight: 800;
        line-height: 9.6rem; */
        margin-bottom: 54px;
    }

    .head h3 {
        font-size: 2.4rem;
        font-weight: 800;
        line-height: 3.6rem;
    }

    .head h4 {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin: 5px 0;
    }

    .head a {
        display: block;
        color: var(--blue);
        font-size: 2rem;
        line-height: 3rem;
    }



    .form h2 {
        font-size: 2.4rem;
        line-height: 3.6rem;
        font-weight: 800;
        margin: 24px 0;
    }

    .form label {
        font-size: 1.4rem;
        line-height: 2rem;
        color: #818181;
    }

    .form input {
        margin-top: 5px;
        margin-bottom: 16px;
        padding: 20px 30px;
        width: 100%;
        border: 1.9px solid #D3D1D2;
        border-radius: 10px;
    }

    .form .submit {
        background-color: var(--blue);
        color: white;
        font-size: 1.9rem;
        line-height: 2.8rem;
        cursor: pointer;
    }


    @media screen and (min-width:1280px) {
        .form-wrapper {
            width: 45%;
        }
    }



    /* ========== SAVED FILES STYLES =========== */

    #file-content_content {
        width: 60%;
        margin-right: auto;
    }

    .file-heading,
    .file-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        row-gap: 30px;
        column-gap: 30px;
        width: 100%;
        text-align: center;
    }

    .download-wrapper .link-wrapper {
        display: flex;
    }

    .file-heading {
        margin-bottom: 32px;
    }


    .file-heading h2 {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2.4rem;
    }


    .file-content img {
        width: 20px;

    }

    .file-content p {
        font-size: 1.5rem;
    }

    .file-content .img {
        padding: 8px;
        border-radius: 10px;
        cursor: pointer;
        background-color: var(--blue);
        position: relative;
    }


    .hide-download-btn a {
        display: block;
        font-size: 1.5rem;
        color: white;
        margin-bottom: 8px;
    }

    .hide-download-btn a:hover {
        text-decoration: underline;
    }



    .hide-download-btn {
        position: absolute;
        width: 120px;
        background-color: var(--blue);
        display: none;
        height: 80px;
        padding: 10px;
        border-radius: 10px;
        top: 40px;
        left: 0;
    }

    .img .show {
        display: block;
        z-index: 10;
    }

}


@media screen and (max-width:400px) {
    .file-heading {
        display: none;
    }


    .sm-metadata-heading {
        font-size: 2.5rem;
        line-height: 4.5rem;
        margin-top: -30px;
        margin-bottom: 30px;
    }

    .data-underline {
        margin: 30px 0;
    }

    .saved-btn {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .saved-btn a {
        background-color: var(--blue);
        padding: 13px 20px;
        font-size: 1.3rem;
        color: white;
        border-radius: 5px;
        font-weight: 600;
        margin-right: 5px;
    }

    .data1,
    .data2 {
        font-weight: 600;
    }

    .file-content p {
        margin-bottom: 10px;
    }
}



table {
    border-spacing: 10px;
    width: 100%;
    border-collapse: collapse;
}

th {
    font-size: 1.5rem;
    line-height: 3.5rem;
    background-color: var(--grey);
    color: rgb(60, 60, 60);
    text-align: center;
    padding: 10px;
}

td {
    padding: 15px 15px 10px;
    font-size: 1.3rem;
    border: none;
    border-spacing: 5px;
}

td a {
    background: var(--blue);
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 2px;

}

tr:nth-child(odd) {
    background-color: var(--grey);
}

td:nth-child(3) {
    text-align: center;
}

td:nth-child(4) {
    text-align: center;

}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    th {
        margin-top: 25px;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 5px;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 40%;
        text-align: left;
    }

    td a{
        padding: 10px 45px;
        cursor: pointer;
    }

    td:nth-child(3) {
        text-align: left;
    }

    td:nth-child(4) {
        text-align: left;
    }

    td:nth-child(4) a {
        padding: 10px 54px;
        cursor: pointer;
    }

    td:nth-child(5) a {
        padding: 10px 59px;
        cursor: pointer;
    }

    td:nth-child(6) a {
        padding: 10px 55px;
        cursor: pointer;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        padding: 15px 5px;
    }



    /*
	Label the data
	*/
    td:nth-of-type(1):before {
        content: "Date Added";
        font-weight: 600;
    }

    td:nth-of-type(2):before {
        content: "File Name";
        font-weight: 600;
    }

    td:nth-of-type(3):before {
        content: "Download";
        font-weight: 600;
    }

    td:nth-of-type(4):before {
        content: "Delete";
        font-weight: 600;
    }
}