@import url("font.css");
@import url('fonts/cabinetgrotesk-bold.woff2');

/* Global styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cabinet Grotesk', sans-serif;
}

:root {
    --blue: #3a86ff;
    --white: #ffffff;
    --black: #000000;
    --grey: #EEF1F4;
    /* --darkgrey: ; */
}

body {
    font-family: 'Cabinet Grotesk', sans-serif;
}

a {
    text-decoration: none;
}

button {
    padding: 18px 37px;
    background-color: var(--blue);
    border: 0;
    border-radius: 5px;
    color: var(--white);
    border: 1px solid var(--blue);
}

button a {
    color: var(--white);
    font-size: 16px;
}

.section {
    width: 1240px;
    height: auto;
    margin: 0 auto;
    vertical-align: middle;
    align-items: center;
}


/* 
    Home Page Code

    Whoever keeps changing this code, do not change. Work on forms in form.css
*/

/* Nav */

header {
    width: 1240px;
    height: auto;
    margin: 10px auto;
    padding: 10px auto;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}

.nav-logo{
    width: 20%;
}

.navigation{
    width: 50%;
}

.nav-button {
    width: 30%;
    text-align: end;
}

.site-logo {
    width: 100px;
}

.menu a {
    color: var(--black);
    font-size: 17px;
    margin: 20px;
    border-bottom: 2px solid var(--white);
}

.menu a:hover {  
    border-bottom: 2px solid;
    border-color: var(--blue);
    padding-bottom: 5px;
}

.menu a.active {
    border-bottom: 2px solid;
    border-color: var(--blue);
    padding-bottom: 5px;
}
/* 
.nav-btn-outline {
    background-color: var(--white);
    border: 1px solid var(--blue);
    padding: 18px 60px;
    margin-right: 10px;
}

.nav-btn-outline a {
    color: var(--blue);
    font-size: 16px;
}

.nav-btn-solid {
    border: 1px solid var(--blue);
}

.nav-btn-solid a {
    color: var(--white);
    font-size: 16px;
} */

/* Hero Section */
.hero {
    display: flex;
    padding: 70px 0;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}

.left-hero, .right-hero {
    width: 50%;
}

.right-hero {
    text-align: end;
}

.hero-img {
    width: 90%;
    text-align: end;
}

.hero-head {
    font-size: 70px;
}

.hero-text {
    font-size: 25px;
    line-height: 1.3em;
    padding-right: 130px;
    padding-bottom: 30px;
}

.hero-btn {
    display: flex;
    vertical-align: middle;
    align-items: center;
    align-content: center;
}

.hero-btn a {
    padding: 0 0 0 10px;
}

.icon-hero {
    width: 20px;
}


/* About/Features */

.general-head {
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 110px;
}

.about-features {
    display: flex;
}

.about-items {
    text-align: center;
    padding: 10px;
    width: 25%;
}

.about-icon {
    width: 110px;
}

.about-title {
    font-size: 22px;
    padding: 10px 0;
}

.about-txt {
    font-size: 17px;
    color: var(--black);
    opacity: 50%;
}


/* logos */

.logo-section {
    padding: 70px 0;
    min-width: 1240px;
}

.logo-gallery {
    background-color: var(--grey);
}

.logos {
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    margin: 0 auto;
    width: 1240px;
}

.logo {
    width: 240px;
    height: auto;
    padding: 30px;
    
}

/* Why Meta Data */

.meta-section {
    background: url("img/Frame\ 293.jpg");
    background-size: calc(100%);
    /* background-position: center; */
    padding: 50px 0;
}

.meta-inner {
    display: flex;
    width: 1240px;
    height: auto;
    margin: 0 auto;
    vertical-align: middle;
    align-items: center;
}

.left-meta {
    width: 40%;
}

.right-meta {
    width: 60%;
    padding-left: 50px;
}

.meta-img {
    width: 80%;
}

.meta-head {
    font-size: 40px;
    text-align: left;
    padding-bottom: 40px;
    padding-top: 0px;
}

.meta-text {
    font-size: 18px;
    color: var(--black);
}