@import url("../css/font.css");
@import url('../css/fonts/cabinetgrotesk-bold.woff2');

/* Global styling */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root {
    --blue: #3a86ff;
    --white: #ffffff;
    --black: #000000;
    --grey: #EEF1F4;
    /* --darkgrey: ; */
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Cabinet Grotesk', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 800;
}

a {
    text-decoration: none;
}

button {
    padding: 18px 37px;
    background-color: var(--blue);
    border: 0;
    border-radius: 5px;
    color: var(--white);
    border: 1px solid var(--blue);
}

button a {
    color: var(--white);
    font-size: 16px;
}

.hero-head {}

@media screen and (min-width:1024px) {


    .section {
        width: 1240px;
        height: auto;
        margin: 0 auto;
        vertical-align: middle;
        align-items: center;
    }


    /* 
    Home Page Code

    Whoever keeps changing this code, do not change. Work on forms in form.css
*/

    /* Nav */

    header {
        width: 1240px;
        height: auto;
        margin: 10px auto;
        padding: 10px auto;
        vertical-align: middle;
        display: flex;
        justify-content: space-between;
        vertical-align: middle;
        align-items: center;
    }

    .nav-logo {
        width: 20%;
    }

    .navigation {
        width: 50%;
    }

    .nav-button {
        width: 30%;
        text-align: end;
    }

    .site-logo {
        width: 130px;
    }

    .menu a {
        color: var(--black);
        font-size: 17px;
        margin: 20px;
        border-bottom: 2px solid var(--white);
    }

    .menu a:hover {
        border-bottom: 2px solid;
        border-color: var(--blue);
        padding-bottom: 5px;
    }

    .menu a.active {
        border-bottom: 2px solid;
        border-color: var(--blue);
        padding-bottom: 5px;
    }

    .nav-btn-outline {
        background-color: var(--white);
        border: 1px solid var(--blue);
        padding: 18px 60px;
        margin-right: 10px;
    }

    .nav-btn-outline a {
        color: var(--blue);
        font-size: 16px;
    }

    .nav-btn-solid {
        border: 1px solid var(--blue);
    }

    .nav-btn-solid a {
        color: var(--white);
        font-size: 16px;
    }

    /* Hero Section */


    .hero {
        display: flex;
        padding: 70px 0;
        justify-content: space-between;
        vertical-align: middle;
        align-items: center;
    }



    .left-hero,
    .right-hero {
        width: 50%;
    }

    .right-hero {
        text-align: end;
    }

    .hero-img {
        width: 90%;
        text-align: end;
    }

    .hero-head {
        font-size: 70px;
    }

    .hero-text {
        font-size: 23px;
        line-height: 1.3em;
        padding-right: 130px;
        padding-bottom: 50px;
    }

    .hero-btn {
        display: flex;
        vertical-align: middle;
        align-items: center;
        align-content: center;
    }

    .hero-btn a {
        padding: 0 0 0 10px;
    }

    .icon-hero {
        width: 20px;
    }


    /* About/Features */

    .general-head {
        font-size: 50px;
        text-align: center;
        padding-bottom: 40px;
        padding-top: 110px;
    }

    .about-features {
        display: flex;
    }

    .about-items {
        text-align: center;
        padding: 10px;
        width: 25%;
    }

    .about-icon {
        width: 110px;
    }

    .about-title {
        font-size: 22px;
        padding: 10px 0;
    }

    .about-txt {
        font-size: 17px;
        color: var(--black);
        opacity: 50%;
    }


    /* logos */

    .logo-section {
        padding: 70px 0;
        min-width: 1240px;
    }

    .logo-gallery {
        background-color: var(--grey);
    }

    .logos {
        display: flex;
        flex-wrap: wrap;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        padding: 30px 0;
        margin: 0 auto;
        width: 1240px;
    }

    .logo {
        width: 240px;
        height: auto;
        padding: 30px;

    }

    /* Why Meta Data */

    .meta-section {
        background: url("img/Frame\ 293.jpg");
        background-size: calc(100%);
        /* background-position: center; */
        padding: 50px 0;
        margin: 50px 0;
    }

    .meta-inner {
        display: flex;
        width: 1240px;
        height: auto;
        margin: 0 auto;
        vertical-align: middle;
        align-items: center;
    }

    .left-meta {
        width: 40%;
    }

    .right-meta {
        width: 60%;
        padding-left: 50px;
    }

    .meta-img {
        width: 80%;
    }

    .meta-head {
        font-size: 50px;
        text-align: left;
        padding-bottom: 40px;
        padding-top: 0px;
    }

    .meta-text {
        font-size: 18px;
        color: var(--black);
    }

    /* Accordion - Toggle */

    #faq {
        padding: 100px 0;
    }

    .faq-btn {
        align-items: center;
        justify-content: center;
        margin: 70px auto;
        text-align: center;
    }

    #faqbtn {
        text-align: center;
    }

    .toggle-wrapper {
        background-color: var(--grey);
        margin-bottom: 20px;
        padding: 30px 30px 30px 80px;
        border-radius: 10px;
    }

    .toggle {
        background-color: var(--grey);
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 19px;
        color: var(--black);
        border: none;
        padding: 15px 0;
        cursor: pointer;
    }

    .toggle-content {
        font-size: 18px;
        position: relative;
        height: 0;
        overflow: hidden;
        transition: all 1s;
    }

    /* Footer */

    footer {
        background-color: var(--grey);
        padding: 120px 0 150px 0;
        margin-top: 100px;
    }

    .footer {
        display: flex;
        width: 1140px;
        height: auto;
        margin: 0 auto;
        vertical-align: top;
    }

    .footer1 {
        width: 35%;
        padding-right: 140px;
    }

    .footer2 {
        width: 18%;
    }

    .footer3 {
        width: 17%;
    }

    .footer4 {
        width: 30%;
    }

    .footer-img {
        width: 100px;
    }

    .footer-title {
        padding-bottom: 20px;
        font-size: 20px;
    }

    .footer-txt {
        font-size: 18px;
        padding: 50px 0;
    }

    .social {
        width: 30px;
        margin-right: 10px;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
    }

    .footer-nav a {
        padding: 5px 0;
        color: var(--black);
        opacity: 90%;
        font-size: 18px;
    }