@import url("font.css");
@import url('fonts/cabinetgrotesk-bold.woff2');

/* Global styling */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root {
    --blue: #3a86ff;
    --white: #ffffff;
    --black: #000000;
    --grey: #EEF1F4;
    /* --darkgrey: ; */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: 'Cabinet Grotesk', sans-serif;
    overflow-x:hidden;
}

h1,
h2,
h3,
h4 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: black;
}

  button {
      padding: 13px 37px;
      background-color: var(--blue);
      border: none;
      border-radius: 5px;
      color: var(--white);
      text-align: center;

  }

button a {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
}

p{
    font-size: 1.6rem;
}

img{
    max-width: 100%;
}


.nav-head{
    display: none;
}

/* ============================= */
/* ===== MOBILE NAV =========== */
.header-sm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    margin-bottom: 24px;
}

.sm-navigation{
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    height: 80vh;
    width: 100%;
    padding: 20px 25px;
    transform: translateY(-100%);
    transition: 0.5s ease-out;
}

.show-navigation{
    transform: translateY(0%);
    transition: 0.5s ease-in;
}

.sm-hamburger{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.sm-menu{
    margin-top: 45px;
}

.sm-menu a{
    font-size: 2.4rem;
    line-height: 3.6rem;
    display: block;
    margin-left: 19px;
}

.sm-menu li{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.sm-active a{
    font-weight: 800;
}

.sm-nav-button{
    margin-top: 50px;
}

.nav-logo-sm img{
    width: 80px;
}

.hamburger,
.hamburger-close{
    cursor: pointer;
}


/* ===================== */
/* ==== HERO ========== */

.section{
    padding: 0 25px;
    text-align: center;
    margin: 48px 0;
}

.left-hero h2{
    font-size: 2.4rem;
    line-height: 2.7rem;
    margin-bottom: 8px;
}

.hero-btn{
    margin-top: 50px;
}

.hero-btn a{
    margin-top: 50px;
    width: 100%;
    margin-top: -5px;
}

.right-hero{
    margin-top: 60px;
}


/* ===== About ========= */
.about-features{
    margin-bottom: 68px;
}

.general-head{
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 24px;
    text-align: center;
}

.about-icon{
    width: 30%;
    margin-bottom: 40px;
}

.about-title{
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin-bottom: 30px;
}

.about-txt{
    margin-bottom: 68px;
}


/* ================= */
/* ==== PARTNERS==== */

.logo-section{
    padding: 25px;
    background-color: var(--grey);
}

.logos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}


/* ==============================*/
/* =========MetaData============ */
.meta-section{
    padding: 25px;
    background-color: var(--grey);
    text-align: center;
    margin-top: 48px;
}

.meta-inner{
    display: flex;
    flex-direction: column-reverse;
}

.meta-head{
    text-align: center;
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 10px;
}

/* ======================== */
/* ========= FAQ ========= */

.toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}

.toggle-content{
    display: none;
}

.faq-btn{
    width: 100%;
    margin-top: 30px;
}

/* ====================== */
/* ===== FOOTER ==== */
footer{
    text-align: center;
    background-color: var(--grey);
    padding: 25px;
   
}
.footer-img{
    width: 40%;
    margin-bottom: 32px;
}

.footer-txt{
    margin-bottom: 32px;
}

.footer-title{
    margin-bottom: 20px;
    font-size: 1.8rem;
    line-height: 3rem;
}


.social{
    width: 40px;
    margin: 20px 0;
}

.footer2, .footer3{
    margin-bottom: 30px;
}

.footer-nav a{
    display: block;
    font-size: 1.6rem;
    margin-bottom: 10px;
}



@media screen and (min-width:76) {
    .header-sm{
        display: none;
    }  

    .nav-head{
        display: block;
    }
}


/* ====================================== */
/* ============ Desktop ================= */

@media screen and (min-width:1024px) {

    button {
        padding: 13px 37px;
        background-color: var(--blue);
        border: 0;
        border-radius: 5px;
        color: var(--white);
        border: 1px solid var(--blue);
    }

    .section {
        width: 1240px;
        height: auto;
        margin: 0 auto;
        vertical-align: middle;
        align-items: center;
    }




    header {
        width: 1240px;
        height: auto;
        margin: 10px auto;
        padding: 10px auto;
        vertical-align: middle;
        display: flex;
        justify-content: space-between;
        vertical-align: middle;
        align-items: center;
        margin-top: 20px;
    }

    .nav-logo {
        width: 20%;
    }

    .navigation {
        width: 40%;
        text-align: center;
    }

    .nav-button {
        width: 30%;
        text-align: end;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        align-self: center;
    }

    .site-logo {
        width: 130px;
    }

    .menu a {
        color: var(--black);
        font-size: 17px;
        margin: 20px;
        border-bottom: 2px solid var(--white);
    }

    .menu a:hover {
        border-bottom: 2px solid;
        border-color: var(--blue);
        padding-bottom: 5px;
    }

    .menu a.active {
        border-bottom: 2px solid;
        border-color: var(--blue);
        padding-bottom: 5px;
    }

    .nav-btn-outline {
        background-color: var(--white);
        border: 1px solid var(--blue);
        padding: 13px 50px;
        margin-right: 10px;
    }

    .nav-btn-outline a {
        color: var(--blue);
        font-size: 16px;
    }

    .nav-btn-solid {
        border: 1px solid var(--blue);
    }

    .nav-btn-solid a {
        color: var(--white);
        font-size: 16px;
    }

    /* Hero Section */


    .hero {
        display: flex;
        padding: 70px 0;
        justify-content: space-between;
        vertical-align: middle;
        align-items: center;
    }



    .left-hero,
    .right-hero {
        width: 50%;
    }

    .right-hero {
        text-align: end;
    }

    .hero-img {
        width: 90%;
        text-align: end;
    }

    .hero-head {
        font-size: 70px;
    }

    .hero-text {
        font-size: 23px;
        line-height: 1.3em;
        padding-right: 130px;
        padding-bottom: 50px;
    }

    .hero-btn {
        display: flex;
        vertical-align: middle;
        align-items: center;
        align-content: center;
    }

    .hero-btn a {
        padding: 0 0 0 10px;
    }

    .icon-hero {
        width: 20px;
    }


    /* About/Features */

    .general-head {
        font-size: 50px;
        text-align: center;
        padding-bottom: 40px;
        padding-top: 110px;
    }

    .about-features {
        display: flex;
    }

    .about-items {
        text-align: center;
        padding: 10px;
        width: 25%;
    }

    .about-icon {
        width: 110px;
    }

    .about-title {
        font-size: 22px;
        padding: 10px 0;
    }

    .about-txt {
        font-size: 17px;
        color: var(--black);
        opacity: 50%;
    }


    /* logos */

    .logo-section {
        padding: 70px 0;
        min-width: 1240px;
    }

    .logo-gallery {
        background-color: var(--grey);
    }

    .logos {
        display: flex;
        flex-wrap: wrap;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        padding: 30px 0;
        margin: 0 auto;
        width: 1240px;
    }

    .logo {
        width: 240px;
        height: auto;
        padding: 30px;

    }

    /* Why Meta Data */

    .meta-section {
        background: url("img/Frame\ 293.jpg");
        background-size: calc(100%);
        /* background-position: center; */
        padding: 50px 0;
        margin: 50px 0;
    }

    .meta-inner {
        display: flex;
        width: 1240px;
        height: auto;
        margin: 0 auto;
        vertical-align: middle;
        align-items: center;
    }

    .left-meta {
        width: 40%;
    }

    .right-meta {
        width: 60%;
        padding-left: 50px;
    }

    .meta-img {
        width: 80%;
    }

    .meta-head {
        font-size: 50px;
        text-align: left;
        padding-bottom: 40px;
        padding-top: 0px;
    }

    .meta-text {
        font-size: 18px;
        color: var(--black);
    }

    /* Accordion - Toggle */

    #faq {
        padding: 100px 0;
    }

    .faq-btn {
        align-items: center;
        justify-content: center;
        margin: 70px auto;
        text-align: center;
    }

    #faqbtn {
        text-align: center;
    }

    .toggle-wrapper {
        background-color: var(--grey);
        margin-bottom: 20px;
        padding: 30px 30px 30px 80px;
        border-radius: 10px;
    }

    .toggle {
        background-color: var(--grey);
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 19px;
        color: var(--black);
        border: none;
        padding: 15px 0;
        cursor: pointer;
    }

    .toggle-content {
        font-size: 18px;
        position: relative;
        height: 0;
        overflow: hidden;
        transition: all 1s;
    }

    /* Footer */

    footer {
        background-color: var(--grey);
        padding: 120px 0 150px 0;
        margin-top: 100px;
    }

    .footer {
        display: flex;
        width: 1140px;
        height: auto;
        margin: 0 auto;
        vertical-align: top;
    }

    .footer1 {
        width: 35%;
        padding-right: 140px;
    }

    .footer2 {
        width: 18%;
    }

    .footer3 {
        width: 17%;
    }

    .footer4 {
        width: 30%;
    }

    .footer-img {
        width: 100px;
    }

    .footer-title {
        padding-bottom: 20px;
        font-size: 20px;
    }

    .footer-txt {
        font-size: 18px;
        padding: 50px 0;
    }

    .social {
        width: 30px;
        margin-right: 10px;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
    }

    .footer-nav a {
        padding: 5px 0;
        color: var(--black);
        opacity: 90%;
        font-size: 18px;
    }

}