{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>MetaData Extractor | Get detailed information on your files</title>
	<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	<link rel="stylesheet" href="{% static 'css/font.css' %}">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	<link href="https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@800,500,700,400,900&display=swap" rel="stylesheet">

</head>

<body>
	<section class="autentication-form">
		<div class="left-column" id="login-left">
			<img src="{% static 'images/login-bg.png' %}" alt="" />
		</div>
		<div class="right-column">
			<div class="form-header social-auth">
				<h1>{% block head_title %}{% trans "Sign In" %}{% endblock %}</h1>
				{% block content %}
				{% if process == "connect" %}
				<h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

				<p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account
					from {{ provider }}.{% endblocktrans %}</p>
				{% else %}
				<h2>{% blocktrans with provider.name as provider %}Sign In Via {{ provider}}{% endblocktrans %}</h2>

				<p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account
					from {{ provider }}.{% endblocktrans %}</p>
				{% endif %}

				<form method="post">
					{% csrf_token %}
					<button class="social-auth-btn" type="submit">{% trans "Continue" %}</button>
				</form>
			</div>
		</div>
	</section>
</body>

{% endblock %}